.dogPhoto{
    transition:  1s ease-in-out;
}

.dogPhoto:hover{
    transform: scale(1.1);

}



.dogBg{
    position: relative;
    top: auto;
    bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    backdrop-filter: blur(10px) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
}

@media screen and (max-width: 620px) {
    .dogBg{
        flex-direction: column;
    }
    .dogPhoto{
        margin-bottom: 30px;
        justify-content: center;
    }
}


li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.linkDiv{
    transition: 1s ease-in-out;
    border-radius: 10%;
    filter: opacity(75%);
}

.linkDiv:hover{
    background-color: #4c5153;
    filter: opacity(100%);
    text-decoration: underline;
}
